*{
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   font-family: 'izmir',sans-serif;
}
body{
   background-color: #f9f9f9;
}
@font-face {
   font-family: 'izmir';
   src: url(./fonts/Demo_Fonts/Fontspring-DEMO-izmir-regular.otf);
}
/* NAVBAR */
.nav{
   display: flex;
   width: 100vw;
   padding-top: 20px;
   padding-bottom: 20px;
}
.logo-div{
   display: flex;
}
.logo-div img{
   margin-left: 50px;
   height: 50px;
}
#three-line{
   display: none;
   width: 30px;
   height: 20px;
   position: absolute;
   right: 7%;
   top: 30px;
}
.logo-div ul li{
   float: left;
   text-decoration: none;
   list-style: none;
   margin-left: 70px;
   margin-top: 15px;
   color: white;
}
.nav-contact{
   position: absolute;
   right: 5%;
   top:35px;
}
.nav-contact button{
   padding: 10px 20px;
   border: none;
}

/* HEADER */
.header-container{
   width: 100vw;
   height: 101vh;
   position: relative;
   bottom: 100px;
   z-index: -1;
   background-color: rgb(24 29 27);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
#semi-up-circle{
   position: absolute;
   right: -200px;
   width: 45%;
   top: -200px;
}
.left-header-container{
   width: 39%;
   padding-top: 24vh;
}
.right-header-container{
   width: 45%;
}
.subscribe-form-up form{
   margin-top: 20px;
}
.right-header-container img {
   width: 60%;
   position: absolute;
   right: 20px;
   bottom: 0;
}
#woodstock{
   
   font-size: 3rem;
}
.woodstock-container{
   color: white;
   font-weight: bold;
   font-family: 'izmir', sans-serif;
   margin-left: 8%;
   margin-bottom: 50px;
   font-size: 3rem;
}
.lower-div-form-header{
   margin-left: 5%;
   margin-top: 30px;
   display: flex;
}
#small-vertical img{
   height: 290px;
}
.subscribe-form-up{
   width: 75%;
   color: white;
   font-family: 'izmir', sans-serif;
   font-size: 1.2rem;
   line-height: 30px;
   margin-left: 20px;
}
#subscribe{
   background-color: #212624;
   border: none;
   padding: 13px;
   width: 70%;
   border-radius: 7px;
   color: #087d5c;
}
#subscribe-button
{
   padding: 13px;
   position: relative;
   right:15px;
   background-color:#087d5c;
   border: none;
   color: white;
   border-radius: 5px;
}
.below-header-section{
   width: 100%;
}
.below-header-container-heading{
   font-family: 'izmir',sans-serif;
   font-size: 2rem;
   text-align: center;
   font-weight: 600;
}
.below-header-four-box{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding-top: 70px;
}
.below-header-box{
   width: 20%;
   max-width: 250px;
   font-family: 'izmir',sans-serif;
   justify-content: space-evenly;
   font-size: small;
}
.below-header-box img{
   padding-bottom: 15px;
   width: 60px;
   height: 60px;
}
#add-more-btn {
   background-color: #106570;
   color: white;
   border: none;
   padding: 14px 30px;
   display: block;
   margin: auto;
   margin-top: 117px;
}

.a-text{
   text-decoration: none;
   color: white;
   
}

/* PLANT GROW SECTION */
.plant-grow-section{
   background-image: url(./assets/Images/Group\ 461.png);
   background-position: center;
   background-size: cover;
   width: 100vw;
   height: 1600px;
   background-color: #f9f9f9;
   margin-top: 100px;
}
.plant-container{
   display: flex;
   justify-content: center;
   padding-top: 70px;
   height: 1100px;
   overflow: hidden;
}
.plant-date-container{
   position: relative;
   top: 45px;
   text-align: right;
}
.plant-date-container p{
   font-size: 12px;
   margin-bottom: 4px;
}
.plant-img-container{
   position: relative;
   top: 50px;
   margin: 0px 50px;
}
.plant-img-container img{
   height: 950px;
}
.plant-information{
   overflow: hidden;
}
.plant-information-heading{
   width: 200px;
   height: 140px;
}
.plant-information-information{
   width: 250px;
   height: 100px;
   font-size: 10px;
   font-weight: 200;
   color: #212624;
   background-color: rgb(243, 243, 243);
   border-radius: 5px;
   margin-bottom: 50px;
}
.plant-information-information p{
   margin: 13px 3px;
   margin-left: 15px;
}


/* PORTFOLIO */
.protfolio-container{
   background-color: #1e181c;
   height: 90vh;
   max-height: 850px;
   color: white;
   width: 100vw;
   display: flex;
   position: relative;
   flex-wrap: wrap;

}
#big-portfolio-img img{
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   height: 80%;
   position: absolute;
   bottom: 0;
   right: 3%;
   margin-top: 100px;

}
#big-portfolio-img img:hover{
   filter: none;
    -webkit-filter: grayscale(0);
}
.portfolio-information{
   width: 400px;
   margin-left: 100px;
   margin-top: 100px;
   font-size: 13px;
}
.portfolio-information2
{
   font-size: 12px;
   width: 500px;
   margin-left: 100px;
   margin-top: 100px;
}.our-portfolio-company{
   padding-top: 70px;
   background-color: rgba(249,249,249,1);
}
.portfolio-heading-names{
   display: flex;
   margin: 50px 0px;
   justify-content: space-evenly;
}
.company-name{
   display: flex;
   justify-content: space-evenly;
   width: 90%;
   max-width: 1400px;
   margin: auto;
   flex-wrap: wrap;
}
.company-images{
   margin: 10px;
}
.company-images img{
   width: 70%;
   height: 70%;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}
.company-images img:hover{
   filter: none;
   -webkit-filter: grayscale(0);
   transform: scale(1.1);
   transition-duration: 0.5s;
}
.core-team{
   padding-top: 70px;
   padding-bottom: 50px;
}

.img-team{
   width: 200px;
   height: 200px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   margin: 30px;
}
.img-team:hover{
   filter: none;
   -webkit-filter: grayscale(0);
   transform: scale(1.1);
   transition-duration: 0.5s;
}
.team-name-details{
   text-align: center;
   font-size: small;
   font-weight: 700;
}
.span-pos-details{
   text-align:center;
   font-size: smaller;
   font-weight: 400;
}
.advisor-container{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background-color: #1e181c;
}
.advisor-inner{
   width: 90%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   max-width: 1200px;
   color: white;
   margin-top: 50px;
   margin-bottom: 100px;
   padding: 0% 5%;
}
.advisor-img{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin-top: 70px;
}
.img-team1{
   width: 150px;
   height: 150px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   margin: 15px;
}
.img-team1:hover{
   filter: none;
   -webkit-filter: grayscale(0);
   transform: scale(1.1);
   transition-duration: 0.5s;
}
.newletter-container{
   background-color: #106570;
   color: white;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 20px 25px;
   width: 70%;
   max-width: 1000px;
   border-radius: 15px;
}
.subscribe-news-letter{
   position: relative;
   bottom: 40px;
   display: flex;
   justify-content: center;
}
.input-newsletter{
   width: 35%;

}
#email-input-subscribe{
   padding: 7px;
   border-radius: 15px;
   width: 70%;
   border: none;
}
#email-input-subscribe ::placeholder{
   font-size: smaller;
}
#submit-news{
   background-color: black;
   color: white;
   padding: 5px;
   border-bottom-right-radius: 15px;
   border-top-right-radius: 15px;
   position: relative;
   left: -25px;
}
.news-text{
   margin-left: 2%;
   font-weight: bold;
}
.final-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.final-container img{
   width: 150px;
   display: flex;
   margin: auto;
   margin-top: 30px;
}
.final-container p{
   width: 60%;
   max-width: 1200px;
   margin: auto;
   margin-top: 40px;
   font-size: small;
   font-weight: 200;
   text-align: center;
}
.social-icons{
   display: flex;
   margin-top: 50px;
   margin-bottom: 20px;
   justify-content: center;
}
.social-icons img{
   width: 30px;
   height: 30px;
   margin: 5px;
}
.footer{
   background-color: #1e181c;
   padding: 20px;
   color: white;
   font-size: 11px;
   text-align: center;
}
.footer a{
   color: #087d5c;
}
/* IDEOLOGY */
.ideology-container{
   width: 100vw;
   background-color: #1e181c;
   display: flex;
   justify-content: center;
   height: 700px;
   margin-top: 70px;
   margin-bottom: 70px;
   
}
.idology-container-main{
   width: 90%;
   margin-top: 70px;
   max-width: 1200px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   overflow: hidden;

}
.ideology-text{
   width: 42%;
   color: white;
   font-size: 14px;
   font-weight: lighter;
}
.illustration-container{
   width: 55%;
   min-width: 525px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.illustration-container img{
   display: block;
   margin: auto;
   position: relative;
}
#des-1{
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   padding-top: 10px;
}
#des-1:hover{
   filter: none;
   -webkit-filter: grayscale(0);
   transform: scale(1.03);
   transition-duration: 0.5s;
   
}
#des-2{
   bottom: 190px;
   position: relative;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}
#des-2:hover{
   filter: none;
   -webkit-filter: grayscale(0);
   transform: scale(1.03);
   transition-duration: 0.5s;
}
#des-3{
   bottom: 400px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}
#des-3:hover{
   filter: none;
   -webkit-filter: grayscale(0);
   transform: scale(1.03);
   transition-duration: 0.5s;
}
#des-4{
   bottom: 485px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}
#des-4:hover{
   filter: none;
   -webkit-filter: grayscale(0);
   transform: scale(1.03);
   transition-duration: 0.5s;
}
.text-idology{
   color: white;
   position: relative;
   width: 200px;
   font-size: 12px;
}
.images-illustration{
   position: relative;
   bottom: 125px;
}
#text-1{
   left: 50%;
   visibility: hidden;
}
#text-2{
   left: 60%;
   top: 10%;
   visibility: hidden;
}
#text-3{
   left: 10%;
   top:15%;
   visibility: hidden;
}
#text-4{
   left: 70%;
   top: 18%;
   visibility: hidden;
}
.bg-woodstock{
   background-image: url(./assets/Designs/a_span.png);
   color: black;
   font-weight: 500;
}
.ideology-text h3{
   font-size: 40px;
   margin-bottom: 40px;
}
#contact-us-btn{
   border: none;
   background-color: #106570;
   color: white;
   padding: 7px 30px;
   margin-top: 30px;
}
.show-mob-text{
   display: none;
}
#color-white {
   color: white;
   font-size: 14px;
   width: 60%;
   display: block;
   text-align: center;
   position: relative;
   bottom: 114px;
   margin: auto;
   
}
#color-white button{
   background-color: #087d5c;
}
.plant-container-mob{
   display: none;
   justify-content: center;
}

.plant-information-information {
   width: 312px;
   height: 129px;
   font-size: 14px;
   font-weight: 200;
   color: #212624;
   background-color: rgb(243, 243, 243);
   border-radius: 5px;
   margin-bottom: 105px;
}
.plant-information-heading {
   width: 216px;
   height: 228px;
}
.plant-date-container {
   position: relative;
   overflow: hidden;
   top: 45px;
   text-align: right;
}
.protfolio-container h1{
   font-size: 2.3rem;
}
.protfolio-container p{
   font-size: 1.13rem;
}
@media screen and (min-width: 1620px) {
   .subscribe-form-up{
      font-size: 1.1rem;
   }
   .images-illustration{
      bottom: 100px;
   }
   #small-vertical img {
      height: 340px;
  }
  .idology-container-main{
   max-width: 1300px;
  }
  .ideology-text h3 {
   font-size: 40px;
   margin-bottom: 40px;
}
  .ideology-container {
   width: 100vw;
   background-color: rgb(30, 24, 28);
   display: flex;
   justify-content: center;
   height: 87vh;
   min-height: 700px;
   max-height: 850px;
   margin-top: 70px;
   margin-bottom: 70px;
}
  .woodstock-container {
   color: white;
   font-weight: bold;
   font-family: 'izmir', sans-serif;
   margin-left: 8%;
   margin-bottom: 50px;
   font-size: 3.5rem;
}
#woodstock {
   font-size: 3.5rem;
}
.subscribe-form-up {
   width: 75%;
   color: white;
   font-family: 'izmir', sans-serif;
   font-size: 1.1rem;
   line-height: 37px;
   margin-left: 20px;
}
.ideology-text {
   width: 45%;
   color: white;
   font-size: 16px;
   font-weight: lighter;
}
#contact-us-btn {
   border: none;
   background-color: rgb(16, 101, 112);
   color: white;
   padding: 12px 40px;
   margin-top: 30px;
}
.plant-information-information {
   width: 312px;
   height: 129px;
   font-size: 14px;
   font-weight: 200;
   color: #212624;
   background-color: rgb(243, 243, 243);
   border-radius: 5px;
   margin-bottom: 105px;
}
.plant-information-heading {
   width: 216px;
   height: 228px;
}
.plant-date-container {
   position: relative;
   overflow: hidden;
   top: 45px;
   text-align: right;
}
.protfolio-container {
   background-color: rgb(30, 24, 28);
   height: 90vh;
   max-height: 850px;
   color: white;
   width: 100vw;
   display: flex;
   position: relative;
   flex-wrap: wrap;
}
#big-portfolio-img img {
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   height: 80%;
   position: absolute;
   right: 3%;
   bottom: 0;
   margin-top: 100px;
}
}
/* MEDIA QUERIES */
@media screen and (max-width: 1270px){
   .input-newsletter {
      width: 45%;
  }
  #submit-news{
   border: none;
   padding: 7px;
  }
  .ideology-text h3 {
   font-size: 30px;
   margin-bottom: 40px;
}
  .woodstock-container {
   color: white;
   font-weight: bold;
   font-family: 'izmir', sans-serif;
   margin-left: 8%;
   margin-bottom: 50px;
   font-size: 2rem;
}
#woodstock {
   font-size: 2rem;
}
#big-portfolio-img img{
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   height: 60%;
   position: absolute;
   bottom: 0;
   right: 3%;
   margin-top: 100px;

}

 }
 @media screen and (max-width: 1000px){
   #email-input-subscribe {
      width: 50%;
   }

 }

@media screen and (max-width: 900px) {
   .show-mob-text{
      display: block;
   }
   .nav-ul{
      display: none;
   }
   .nav-contact{
      display: none;
   }
   .logo-div img{
      margin-left: 10px;
      height: 60px;
   }
   #three-line{
      display: block;
   }
   .header-container{
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
   }
   .left-header-container{
      width: 100%;
   }
   .right-header-container{
      width: 100%;
   }
   .right-header-container img{
      position: relative;
      width: 100vw;
      padding-top: 0px;
   }
   .woodstock-container{
      margin-left: 0%;
      text-align: center;
      font-size: 2rem;
   }
   #woodstock{
      font-size: 2rem;
   }
   .lower-div-form-header{
      margin-left: 1%;
   }
   #small-vertical img {
      height: 245px;
   }
   .subscribe-form-up {
      font-size: 0.9rem;
   }
   #subscribe {
      padding: 10px;
      margin-top: 30px;
      margin-bottom: 20px;
      width: 70%;
  }
  #subscribe-button{
   padding: 10px;
  }
  #subscribe::placeholder{
   font-size: 10px;
  }
  #small-vertical{
   display: none;
  }
  .subscribe-form-up {
   width: 90%;
   color: white;
   display: block;
   margin: auto;
   text-align:center;
}
.below-header-container-heading {
   font-size: 1.4rem;
   width: 90%;
   margin: auto;
   display: block;
   text-align: center;
   font-weight: 600;
}
.below-header-box {
   max-width: 400px;
   text-align: center;
   justify-content: space-evenly;
   font-size: small;
   margin-bottom: 46px;
   width: 70%;
}
#add-more-btn{
   margin-top: 20px;
}
.hide-mob-text{
   display: none;
}
.ideology-text {
   width: 90%;
   color: white;
   font-size: 14px;
   font-weight: lighter;
   text-align: center;
}
#des-1 {
   width: 140px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}


#des-2 {
   bottom: 74px;
   width: 219px;
   position: relative;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}
#des-3 {
   bottom: 168px;
   width: 256px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}
#des-4 {
   bottom: 201px;
   width: 180px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}
.images-illustration{
   /* margin-top: 60px; */
}
.ideology-container{
   height: 1225px;
}
#contact-us-btn {
   border: none;
   background-color: #106570;
   color: white;
   padding: 7px 30px;
   /* width: 35%; */
   text-align: center;
   position: relative;
   margin: auto;
   bottom: 91px;
}
.hide-mob-text{
   display: none;
}
#text-4 {
   left: 46%;
   top: 12%;
   visibility: hidden;
}
.plant-container-mob{
   display: flex;
   justify-content: center;
   overflow: hidden;
   padding-bottom: 70px;
}
.plant-information-information {
   width: 250px;
   height: 150px;
   font-size: 14px;
   font-weight: 200;
   color: #212624;
   background-color: rgb(243, 243, 243);
   border-radius: 5px;
   margin-bottom: 105px;
}
.plant-container{
   height: auto;
   display: none;
}
.plant-grow-section{
   height: auto;
}
.ideology-text h3 {
   font-size: 22px;
   margin-bottom: 40px;
}
.plant-img-container {
   position: relative;
   top: 50px;
   margin: 0px 20px;
}
.plant-date-container {
   position: relative;
   top: 45px;
   font-size: 14px;
   text-align: left;
}
.plant-img-container img {
   height: 700px;
}
.plant-information-heading {
   width: auto;
   height: 140px;
   overflow: hidden;
   margin-bottom: 30px;
}
.plant-information-information p{
   font-family: sans-serif !important;
}
#big-portfolio-img img {
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   height: 301px;
   width: 90%;
   position: absolute;
   right: 3%;
   margin-top: 299px;
}
.protfolio-container {
   height: 800px;
}
.protfolio-container h1{
   font-size: 2.3rem;
   text-align: center;
}
.protfolio-container p{
   font-size: 16px;
   text-align: center;
}
.protfolio-container img{
   display: block;
   margin: auto;
}
.portfolio-information {
   width: 90%;
   margin-left: 15px;
   margin-top: 92px;
   font-size: 13px;
}
.company-images img {
   width: 100%;
   height: 89%;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}
.company-images {
   margin: 10px;
   width: 40%;
}
.portfolio-heading-names {
   display: flex;
   margin: 30px 0px;
   justify-content: space-evenly;
}
.portfolio-information2 {
   font-size: 12px;
   width: 90%;
   margin-left: 20px;
   margin-top: 49px;
}
.img-team {
   width: 100px;
   height: 100px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   margin: 30px;
}
.company-name{
   width: 98%;
}
.venture-partner{
   margin-top: 70px;
}
.advisor-img {
   margin-top: 30px;
}
.advisor-inner {
   /* width: 90%; */
   /* display: flex; */
   flex-wrap: wrap;
   /* justify-content: space-between; */
   max-width: 1200px;
   color: white;
   margin-top: 50px;
   margin-bottom: 100px;
   padding: 0% 5%;
   display: block;
}
.img-team1 {
   width: 100px;
   height: 100px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   margin: 15px;
}
.input-newsletter {
   width: 100%;
   margin-top: 12px;
   display: flex;
   justify-content: center;
   margin-left: 25px;
}
#submit-news {
   background-color: black;
   color: white;
   padding: 6px;
   border: none;
   border-bottom-right-radius: 15px;
   border-top-right-radius: 15px;
   position: relative;
   left: -25px;
}
#email-input-subscribe {
   padding: 6px;
   border-radius: 15px;
   width: 160px;
   border: none;
}
#email-input-subscribe::placeholder{
   font-size: 10px;
}
.newletter-container{
   justify-content: center;
}
.final-container p {
   width: 90%;
}
.team-name-details p{
   max-width: 140px !important;
}
.newletter-container {
   width: 80%;
}
 }
 @media screen and (max-width: 350px){
   #email-input-subscribe {
      width: 100px;
   }
 }
