
@font-face {
   font-family: 'izmir';
   src: url(./fonts/Izmir/Ahmet\ Altun\ -\ Izmir-Regular.otf);
}
@font-face {
   font-family: 'izmir-bold';
   src: url(./fonts/Izmir/Ahmet\ Altun\ -\ Izmir-Bold.otf);
}
@font-face {
   font-family: 'izmir1';
   src: url(./fonts/Izmir/Ahmet\ Altun\ -\ Izmir-Extralight.otf);
}
@font-face {
   font-family: 'izmir-medium';
   src: url(./fonts/Izmir/Ahmet\ Altun\ -\ Izmir-Medium.otf);
}
*{
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   font-family: 'izmir',sans-serif;
}
body{
   background-color: #f9f9f9;
}

/* NAVBAR */
.nav{
   display: flex;
   width: 100vw;
   padding-top: 20px;
   padding-bottom: 20px;
}
.logo-div{
   display: flex;
}
.logo-div img{
   margin-left: 50px;
   height: 50px;
}
#three-line{
   display: none;
   width: 30px;
   height: 20px;
   position: absolute;
   right: 7%;
   top: 30px;
}
.mob-navbar{
   width: 100vw;
   height: 100vh;
   background-color: #1e181c;
   top: 0;
   z-index: 99999;
   color: white;
   position: fixed;
}
#mob-navbar{
   display: none;
}
#x{
   color: rgba(255, 255, 255, 0.864);
   position: absolute;
   top: 2%;
   font-size: 2rem;
   right: 13%;
}
.mov-nav-ul{
   color: white;
   text-align: center;
   margin-top: 35%;
}
.active{
   color: #106570;
}
.mob-navbar ul li{
   margin: 25px 5px;
   font-size: 16px;
}
.mob-navbar ul hr{
   width: 70%;
   display: block;
   margin: auto;
}
.logo-div ul li{
   float: left;
   text-decoration: none;
   list-style: none;
   margin-left: 70px;
   margin-top: 15px;
   color: white;
}
.nav-contact{
   position: absolute;
   right: 5%;
   top:35px;
}
.nav-contact button{
   padding: 10px 20px;
   border: none;
}

/* HEADER */
.header-container{
   width: 100vw;
   height: 101vh;
   position: relative;
   bottom: 100px;
   z-index: -1;
   background-color: rgb(24 29 27);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
#semi-up-circle{
   position: absolute;
   right: -200px;
   width: 45%;
   top: -200px;
}
.left-header-container{
   width: 39%;
   padding-top: 24vh;
}
.right-header-container{
   width: 45%;
}
.subscribe-form-up form{
   margin-top: 20px;
}
.right-header-container img {
   width: 66%;
   position: absolute;
   right: 20px;
   bottom: 0;
}
#woodstock{
   
   font-size: 3rem;
}
.woodstock-container{
   color: white;
   font-weight: bold;
   font-family: 'izmir-bold' !important;
   margin-left: 8%;
   margin-bottom: 50px;
   font-size: 3rem;
}
.lower-div-form-header{
   margin-left: 5%;
   margin-top: 30px;
   display: flex;
}
#small-vertical img{
   height: 290px;
}
.subscribe-form-up{
   width: 75%;
   color: white;
   font-family: 'izmir', sans-serif;
   font-size: 1.2rem;
   line-height: 30px;
   margin-left: 20px;
}
#subscribe{
   background-color: #212624;
   border: none;
   padding: 13px;
   width: 70%;
   border-radius: 7px;
   color: #087d5c;
}
#subscribe-button
{
   padding: 13px;
   position: relative;
   right:15px;
   background-color:#087d5c;
   border: none;
   color: white;
   border-radius: 5px;
}
.below-header-section{
   width: 100%;
}
.below-header-container-heading{
   font-family: 'izmir',sans-serif;
   font-size: 2rem;
   text-align: center;
   font-weight: 600;
}
.below-header-four-box{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding-top: 70px;
}
.below-header-box{
   width: 20%;
   max-width: 250px;
   font-family: 'izmir',sans-serif;
   justify-content: space-evenly;
   font-size: small;
}
.below-header-box p{
   color: #000000cd;
   font-weight: lighter;
   font-family: 'izmir1' !important;font-family: 'izmir1';
}
.below-header-box img{
   padding-bottom: 15px;
   width: 60px;
   height: 60px;
}
#add-more-btn {
   background-color: #106570;
   color: white;
   border: none;
   padding: 14px 30px;
   display: block;
   margin: auto;
   margin-top: 117px;
}

.a-text{
   text-decoration: none;
   color: white;
   
}
#origin-wood{
   display: none;
}

/* PLANT GROW SECTION */
.plant-grow-section{
   background-image: url(./assets/Images/Group\ 461.png);
   background-position: center;
   background-size: cover;
   width: 100vw;
   height: 1600px;
   background-color: #f9f9f9;
   margin-top: 100px;
}
.plant-container{
   display: flex;
   justify-content: center;
   padding-top: 70px;
   height: 1470px;
   overflow: hidden;
}
.plant-date-container{
   position: relative;
   top: 45px;
   text-align: right;
}
.plant-date-container p{
   font-size: 13px;
   margin-bottom: 4px;
   color:#0000009e;
}
.plant-date-container h5{
   font-size: 1.1rem;
}
.plant-img-container{
   position: relative;
   top: 50px;
   margin: 0px 50px;
}
.plant-img-container img{
   height: 1220px;
}
.plant-information{
   overflow: hidden;
}
.plant-information-heading{
   width: 200px;
   height: 140px;
}
.plant-information-information{
   width: 250px;
   height: 100px;
   font-size: 10px;
   font-weight: 200;
   color: #212624;
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   margin-bottom: 50px;
}
.plant-information-information p {
   margin: 18px 5px;
   font-weight: lighter;
   font-family: 'izmir1' !important;
   opacity: 0.8;
   margin-left: 15px;
   margin-bottom: 23px;
}


/* PORTFOLIO */
.protfolio-container{
   background-color: #1e181c;
   height: 90vh;
   max-height: 850px;
   color: white;
   width: 100vw;
   display: flex;
   position: relative;
   flex-wrap: wrap;

}
#big-portfolio-img img{
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   height: 80%;
   position: absolute;
   bottom: 0;
   right: 3%;
   margin-top: 100px;

}
#big-portfolio-img img:hover{
   filter: none;
    -webkit-filter: grayscale(0);
}
.portfolio-information{
   width: 550px;
   margin-left: 100px;
   margin-top: 100px;
   font-size: 13px;
   color: rgba(255, 255, 255, 0.666);
   font-weight: lighter;
   font-family: 'izmir1' !important;
}
.portfolio-information p{
   font-size: 13px;
   color: rgba(255, 255, 255, 0.666);
   font-weight: lighter;
   font-family: 'izmir1' !important;
}
.portfolio-information2
{
   font-size: 14px;
   width: 625px;
   margin-left: 100px;
   margin-top: 100px;
   font-weight: lighter;
   color: rgba(255, 255, 255, 0.7);
   font-family: 'izmir1',sans-serif !important;
}
.our-portfolio-company{
   padding-top: 70px;
   background-color: rgba(249,249,249,1);
}
.portfolio-heading-names{
   display: flex;
   margin: 50px 0px;
   justify-content: space-evenly;
}
.company-name{
   display: flex;
   justify-content: space-evenly;
   width: 90%;
   max-width: 1400px;
   margin: auto;
   overflow: hidden;
   flex-wrap: wrap;
   padding: 60px;

   padding-top: 20px;
}

.boxess{
   overflow: visible;
   width: 150px;
   height: 100px;
   margin: 20px;
   position: relative;
   overflow: hidden;
 }
 .boxess:hover{
   overflow: visible;
 }
 .boxess:hover > .hover-container{
   display: block;
   transform: scale(1.4);
   transition-duration: 0.5s;
   height: auto !important;
   box-shadow: 1px 1px 5px 1px rgba(124, 124, 124, 0.296);
   z-index: 99999;
   /* width: 200px;
   opacity: 1;
   bottom: 40px;border: 2px solid rgb(0, 41, 128);
   right: 40px;
   padding: 15px; */
   
 }
 .boxess:hover > .imge{
   display: none;
 }
 .hover-container{
   width: 200px;
   height: 130px;
   opacity: 1;
   bottom: 10px;
   right: 40px;
   position: relative;
   overflow: hidden;
   font-family: 'izmir' !important;
   background-color: rgb(255, 255, 255);
   text-align: center;
   font-size: 7px;
  z-index: -1;
   border-radius: 3px;
   padding: 5px;

 }
 #linkedin-img{
   width: 17px;
   margin-top: 14px;
   margin-bottom: 10px;
 }
 .imge{
   width: 100%;
   position: absolute;
   width: 100%;
   top:0;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);

 }
 .imge-hover{
   width: 105px;
    height: 58px;
    display: block;
    margin: auto;
    margin-top: 10px;
 }
.company-images{
   margin: 10px;
   height: 100px;
   width: 200px;
   overflow: visible;
}
.img-comp{
   width: 70%;
   height: 70%;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   z-index: 10;
}
.img-comp:hover{
   filter: none;
   -webkit-filter: grayscale(0);
   position: relative;
   /* transform: scale(2.5); */
   /* height: 200px;
   width: 200px;
   top: -20px;
   right: 20px; */

   overflow: visible;
   transition-duration: 0.5s;
   z-index: 9999;
}
.hover-img-div{
   background-color: red;
   position: relative;
   z-index: 999;
   width: 300px;
   height: 300px;
}
.core-team{
   padding-top: 70px;
   padding-bottom: 50px;
}


.img-team{
   width: 200px;
   height: 200px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   margin: 30px;
}
.img-team:hover{
   filter: none;
   -webkit-filter: grayscale(0);
   transform: scale(1.1);
   transition-duration: 0.5s;
}
.team-name-details{
   text-align: center;
   font-size: small;
   font-weight: 700;
   margin-left: 16px;
}
.team-name-details p{
   text-align: center;
   font-size: small;
   font-weight: 700;
   font-family: 'izmir' !important;
   font-size: 18px;
   display: block;
   margin: auto;
}
.team-name-details img :nth-child(2){
   width: 20px;
}
.span-pos-details{
   text-align:center;
   font-size: smaller;
   font-weight: 400;
   color: rgba(0, 0, 0, 0.712);
}
.span-pos-details2{
   text-align:center;
   font-size: smaller;
   font-weight: 400;
   color: rgb(255 255 255 / 49%);
}
.advisor-container{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background-color: #1e181c;
}
.advisor-inner{
   width: 90%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   max-width: 1320px;
   color: white;
   margin-top: 50px;
   margin-bottom: 100px;
   padding: 0% 5%;
}
.advisor-img{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin-top: 70px;
}
.img-team1{
   width: 150px;
   height: 150px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   margin: 15px;
}
.img-team1:hover{
   filter: none;
   -webkit-filter: grayscale(0);
   transform: scale(1.1);
   transition-duration: 0.5s;
}
.newletter-container{
   background-color: #106570;
   color: white;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 20px 25px;
   width: 70%;
   max-width: 1000px;
   border-radius: 15px;
}
.subscribe-news-letter{
   position: relative;
   bottom: 40px;
   display: flex;
   justify-content: center;
}
.input-newsletter{
   width: 35%;

}
#email-input-subscribe{
   padding: 7px;
   border-radius: 15px;
   width: 70%;
   border: none;
}
#email-input-subscribe ::placeholder{
   font-size: smaller;
}
#submit-news{
   background-color: black;
   color: white;
   padding: 8px;
   font-size: 10px;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   position: relative;
   left: -25px;
}
.news-text{
   margin-left: 2%;
   font-weight: bold;
   font-family: 'izmir-bold' !important;
}
.final-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.final-container img{
   width: 150px;
   display: flex;
   margin: auto;
   margin-top: 30px;
}
.final-container p{
   width: 60%;
   max-width: 1200px;
   margin: auto;
   margin-top: 40px;
   font-size: small;
   font-weight: 200;
   text-align: center;
   font-family: 'izmir1' !important;
}
.social-icons{
   display: flex;
   margin-top: 50px;
   margin-bottom: 20px;
   justify-content: center;
}
.social-icons img{
   width: 30px;
   height: 30px;
   margin: 5px;
}
.footer{
   background-color: #1e181c;
   padding: 20px;
   color: white;
   font-size: 11px;
   text-align: center;
}
.footer a{
   color: #087d5c;
}
/* IDEOLOGY */
.ideology-container{
   width: 100vw;
   background-color: #1e181c;
   display: flex;
   justify-content: center;
   height: 700px;
   margin-top: 70px;
   margin-bottom: 70px;
   
}
.idology-container-main{
   width: 90%;
   margin-top: 70px;
   max-width: 1200px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   overflow: hidden;

}
.ideology-text{
   width: 42%;
   color: #ffffffcf;
   opacity: 0.8;
   font-size: 14px;
   font-weight: lighter;
   font-family: 'izmir1' !important;
}
.hide-mob-text{
   font-family: 'izmir1' !important;
   cursor: pointer;
}
.illustration-container{
   width: 55%;
   min-width: 525px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.illustration-container img{
   display: block;
   margin: auto;
   position: relative;
}
#des-1{
   filter: grayscale(100%);
   width: 230px;
   -webkit-filter: grayscale(100%);
   padding-top: 10px;
}
#des-1:hover{
   filter: none;
   -webkit-filter: grayscale(0);
   transform: scale(1.03);
   transition-duration: 0.5s;
   
}
#des-2{
   bottom: 141px;
   width: 396px;
   position: relative;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}
#des-2:hover{
   filter: none;
   -webkit-filter: grayscale(0);
   transform: scale(1.03);
   transition-duration: 0.5s;
}
#des-3 {
   bottom: 296px;
   width: 401px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}
#des-3:hover{
   filter: none;
   -webkit-filter: grayscale(0);
   transform: scale(1.03);
   transition-duration: 0.5s;
}
#des-4 {
   bottom: 365px;
   width: 358px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}
#des-4:hover{
   filter: none;
   -webkit-filter: grayscale(0);
   transform: scale(1.03);
   transition-duration: 0.5s;
}
.text-idology{
   color: rgba(255, 255, 255, 0.741);
   position: relative;
   width: 200px;
   font-size: 12px;
}
.images-illustration{
   position: relative;
   bottom: 125px;
}
#text-1{
   left: 70%;
   visibility: hidden;
}
#text-2{
   left: 72%;
   top: 0%;
   visibility: hidden;
}
#text-3{
   left: 70%;
   top:-6%;
   visibility: hidden;
}
#text-4{
   left: 70%;
   top: -10%;
   visibility: hidden;
}
.bg-woodstock{
   background-image: url(./assets/Designs/a_span.png);
   color: black;
   font-weight: 500;
}
.ideology-text h3{
   font-size: 40px;
   overflow: hidden;
   margin-bottom: 40px;
}
#contact-us-btn{
   border: none;
   background-color: #106570;
   color: white;
   padding: 7px 30px;
   margin-top: 30px;
}
.show-mob-text{
   display: none;
}
#font-bold{
   font-family: 'izmir-bold' !important ;
}
#color-white {
   color: white;
   font-size: 14px;
   width: 60%;
   display: block;
   text-align: center;
   position: relative;
   bottom: 114px;
   margin: auto;
   
}

#color-white button{
   background-color: #087d5c;
}
.plant-container-mob{
   display: none;
   justify-content: center;
}

.plant-information-information {
   width: 312px;
   height: 147px;
   font-size: 14px;
   font-weight: 200;
   color: #212624;
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   margin-bottom: 153px;
}
.plant-information-heading {
   width: 216px;
   height: 296px;
}
.plant-date-container {
   position: relative;
   overflow: hidden;
   top: 45px;
   text-align: right;
}
.protfolio-container h1{
   font-size: 2.3rem;
   color: rgb(255, 255, 255);
}
.protfolio-container p{
   font-size: 14px;
   font-family: 'izmir',sans-serif !important;
   color: rgba(255, 255, 255, 0.658);
}


#companyName5,#companyName4,#companyName3,#companyName2,#companyName05,#companyName04,#companyName03,#companyName02{
   display: none;
}

.company-border{
   margin:auto;
   display: block;
   width: 40px; 
   margin-top: 7px;
    height: 3px;
}


@media screen and (min-width: 1620px) {
   .subscribe-form-up{
      font-size: 1.1rem;
   }
   .images-illustration{
      bottom: 100px;
   }
   #small-vertical img {
      height: 340px;
  }
  .idology-container-main{
   max-width: 1300px;
  }
  .ideology-text h3 {
   font-size: 40px;
   margin-bottom: 40px;
   overflow: hidden;
}
  .ideology-container {
   width: 100vw;
   background-color: rgb(30, 24, 28);
   display: flex;
   justify-content: center;
   height: 87vh;
   min-height: 700px;
   max-height: 850px;
   margin-top: 70px;
   margin-bottom: 70px;
}
  .woodstock-container {
   color: white;
   font-weight: bold;
   font-family: 'izmir-bold' !important;
   margin-left: 8%;
   margin-bottom: 50px;
   font-size: 3.5rem;
}
#woodstock {
   font-size: 3.5rem;
}
.subscribe-form-up {
   width: 75%;
   color: white;
   font-family: 'izmir', sans-serif;
   font-size: 1.1rem;
   line-height: 37px;
   margin-left: 20px;
}
.ideology-text {
   width: 45%;
   color: #ffffffcf;
   font-size: 16px;
   font-weight: lighter;
   font-family: 'izmir1' !important;
}
#contact-us-btn {
   border: none;
   background-color: rgb(16, 101, 112);
   color: white;
   padding: 12px 40px;
   margin-top: 30px;
}
.plant-information-information {
   width: 360px;
   height: 148px;
   font-size: 14px;
   font-weight: 200;
   color: #212624;
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   margin-bottom: 149px;
}
.plant-information-heading {
   width: 216px;
   height: 296px;
}
.plant-date-container {
   position: relative;
   overflow: hidden;
   top: 45px;
   text-align: right;
}
.protfolio-container {
   background-color: rgb(30, 24, 28);
   height: 90vh;
   max-height: 850px;
   color: white;
   width: 100vw;
   display: flex;
   position: relative;
   flex-wrap: wrap;
}
#big-portfolio-img img {
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   height: 80%;
   position: absolute;
   right: 3%;
   bottom: 0;
   margin-top: 100px;
}
}
/* MEDIA QUERIES */
@media screen and (max-width: 1270px){
   .input-newsletter {
      width: 45%;
  }
  #submit-news{
   border: none;
   padding: 7px;
  }
  .ideology-text h3 {
   font-size: 30px;
   margin-bottom: 40px;
}
  .woodstock-container {
   color: white;
   font-weight: bold;
   font-family: 'izmir-bold' !important;
   margin-left: 8%;
   margin-bottom: 50px;
   font-size: 2rem;
}
#woodstock {
   font-size: 2rem;
}
#big-portfolio-img img{
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   height: 60%;
   position: absolute;
   bottom: 0;
   right: 3%;
   margin-top: 100px;

}

 }
 @media screen and (max-width: 1000px){
   #email-input-subscribe {
      width: 50%;
   }

 }

@media screen and (max-width: 900px) {
   .show-mob-text{
      display: block;
   }
   .nav-ul{
      display: none;
   }
   .nav-contact{
      display: none;
   }
   .logo-div img{
      margin-left: 10px;
      height: 60px;
   }
   #three-line{
      display: block;
   }
   .header-container{
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
   }
   .left-header-container{
      padding-top: 19vh;
      width: 100%;
   }
   .right-header-container{
      width: 100%;
   }
   .right-header-container img
      {
         position: relative;
         width: 113vw;
         /* padding-right: 82px; */
         padding-top: 0px;
         position: relative;
         left: -41px;
     }
   .woodstock-container{
      margin-left: 0%;
      text-align: center;
      font-size: 2rem;
   }
   #woodstock{
      font-size: 2rem;
   }
   .lower-div-form-header{
      margin-left: 1%;
   }
   #small-vertical img {
      height: 245px;
   }
   .subscribe-form-up {
      font-size: 0.9rem;
   }
   #subscribe {
      padding: 15px;
      margin-top: 30px;
      margin-bottom: 20px;
      width: 70%;
  }
  #subscribe-button{
   padding: 15px;
  }
  #subscribe::placeholder{
   font-size: 10px;
  }
  #small-vertical{
   display: none;
  }
  .subscribe-form-up {
   width: 90%;
   color: white;
   display: block;
   margin: auto;
   text-align:center;
}

.below-header-container-heading {
   font-size: 1.4rem;
   width: 90%;
   margin: auto;
   display: block;
   text-align: center;
   font-weight: 600;
}
.below-header-section {
   width: 100%;
   position: relative;
   bottom: 46px;
}
.below-header-box {
   max-width: 400px;
   text-align: center;
   justify-content: space-evenly;
   font-size: small;
   margin-bottom: 46px;
   width: 70%;
}
#add-more-btn{
   margin-top: 20px;
}
.hide-mob-text{
   display: none;
}
.ideology-text {
   width: 90%;
   color: #ffffffa8;
   font-size: 12px;
   font-weight: lighter;
   line-height: 25px;
   font-family: 'izmir1' !important;
   text-align: center;
}
.bg-woodstock{
   background-image: none;
   color: white;
   font-family: 'izmir-bold' !important;
   position: relative;
   right: 10px;
}
.illustration-container{
   width: 55%;
   min-width: 525px;
   display: flex;
   z-index: 0;
   position: relative;
   bottom: 81px;
   flex-direction: column;
   justify-content: center;
   }

   #color-white {
      color: #ffffffa8;
      font-size: 12px;
      width: 60%;
      display: block;
      text-align: center;
      position: relative;
      bottom: 144px;
      margin: auto;
      font-family: 'izmir1';
      line-height: 25px;
      
   }
#des-1 {
   width: 140px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}


#des-2 {
   bottom: 60px;
   width: 219px;
   position: relative;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}
#des-3 {
   bottom: 138px;
   width: 218px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}

#des-4 {
   bottom: 171px;
   width: 200px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}
.images-illustration{
   /* margin-top: 60px; */
}
.ideology-container{
   height: 1250px;
}
#contact-us-btn {
   border: none;
   background-color: #106570;
   color: white;
   padding: 10px 30px;
   /* width: 35%; */
   text-align: center;
   position: relative;
   margin: auto;
   bottom: 121px;
}
.hide-mob-text{
   display: none;
}
#text-4 {
   left: 46%;
   top: 12%;
   visibility: hidden;
}
.plant-container-mob{
   display: flex;
   justify-content: flex-start;
   overflow: hidden;
   padding-bottom: 70px;
   height: 1200px;
   margin-left: 10px;
}
.plant-information-information {
    width: 250px;
    height: 103px;
    font-size: 14px;
    margin-top: 15px;
    font-weight: 200;
    color: rgba(15, 15, 15, 0.596);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
   margin-bottom: 105px;
}
.plant-container{
   height: auto;
   display: none;
}
.plant-grow-section{
   height: auto;
}
.ideology-text h3 {
   color: white;
   height: 30px;
   font-size: 22px;
   overflow: hidden;
   padding-bottom: 20px;
}
.plant-img-container {
   position: relative;
   top: 50px;
   margin: 0px 20px;
}
.plant-date-container {
   position: relative;
   top: 45px;
   font-size: 14px;
   text-align: left;
}
.plant-img-container img {
   height: 1030px;
}
.plant-information-heading {
   width: auto;
   height: 182px;
   overflow: hidden;
   margin-bottom: 66px;
}
.plant-information-information p {
   margin: 18px 5px;
   font-weight: lighter;
   font-family: 'izmir1' !important;
   font-size: 12px;
   opacity: 0.8;
   margin-left: 15px;
   margin-bottom: -7px;
}
.plant-date-container h5{
   font-size: 0.9rem;
}
.plant-information-information p{
   font-family: sans-serif !important;
}
#big-portfolio-img img {
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   height: 292px;
   width: 101%;
   position: absolute;
   right: 0%;
   margin-top: 299px;
   /* bottom: 47px; */
}

.protfolio-container {
   height: 570px;
}
.protfolio-container h1{
   font-size: 2.3rem;
   text-align: center;
}
.protfolio-container p{
   font-size: 14px;
    color: #ffffffbd;
    text-align: center;
}
.team-name-details p {
   text-align: center;
   font-size: small;
   font-weight: 700;
   font-size: 14px;
}

.protfolio-container img{
   display: block;
   margin: auto;
}
.portfolio-information {
   width: 90%;
   margin-left: 15px;
   margin-top: 32px;
   font-size: 13px;
}
.company-images img {
   width: 100%;
   height: 89%;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}
.company-images {
   margin: 10px;
   width: 40%;
}
.portfolio-heading-names {
   display: flex;
   margin: 30px 0px;
   justify-content: space-evenly;
   margin-bottom: 10px;
}
.portfolio-information2 {
   font-size: 12px;
   width: 90%;
   margin-left: 20px;
   margin-top: 49px;
}
.portfolio-information2 p {
   font-family: 'izmir',sans-serif !important;
}

#profile-container-id{
   height: 733px !important;
}
.img-team {
   width: 100px;
   height: 100px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   margin: 30px;
}
.company-name {
   width: 98%;
   display: flex;
   flex-wrap: wrap;
   margin-left: 0px;
   justify-content: space-evenly;
   padding: 0px;
}
.boxess{
   width: 125px;
}
.boxess:hover > .hover-container{
   display: none;
}
.boxess:hover > .imge{
   display: block;
 }
.venture-partner{
   margin-top: 70px;
}
.advisor-img {
   margin-top: 30px;
}
.advisor-inner {
   /* width: 90%; */
   /* display: flex; */
   flex-wrap: wrap;
   /* justify-content: space-between; */
   max-width: 1200px;
   color: white;
   margin-top: 50px;
   margin-bottom: 100px;
   padding: 0% 5%;
   display: block;
}
.img-team1 {
   width: 100px;
   height: 100px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   margin: 15px;
}
.input-newsletter {
   width: 100%;
   margin-top: 12px;
   display: flex;
   justify-content: center;
   margin-left: 25px;
}
#submit-news {
   background-color: black;
   color: white;
   padding: 10px;
   font-size: small;
   font-family: 'izmir1';
   font-size: 10px;
   border: none;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   position: relative;
   left: -25px;
}
}
#email-input-subscribe {
   padding: 6px;
   border-radius: 10px;
   width: 160px;
   padding-left: 14px;
   /* padding-bottom: 7px; */
   border: none;
}
#email-input-subscribe::placeholder{
   font-size: 10px;
}
.newletter-container{
   justify-content: center;
}
.final-container p {
   width: 90%;
   color: #000000b5;
   font-weight: lighter;
   font-family: 'izmir1' !important;
}
.team-name-details p{
   max-width: 194px !important;
}
.newletter-container {
   width: 80%;
   justify-content: space-around;
}
.mob-prot-2 img{
   position: absolute;
   bottom: 47px !important;
}
#text-1 {
   left: 44%;
   top: 39px;
   visibility: hidden;
}
#text-2
   {
      left: 44%;
      top: -0px;
      visibility: hidden;
   }
   #origin-wood{
      display: block;
      position: relative;
      top:10px;
   }

#text-3{
   left: 44%;
   top: -40px;
}
#text-4
   {
      left: 44%;
      top: -100px;
      visibility: hidden;
   }
 }
 @media screen and (max-width: 350px){
   #email-input-subscribe {
      width: 100px;
   }
 }
